h2 {
  font-weight: 400;
}

h3 {
  color: gray;
}

h4 {
  font-weight: 500;
  color: black;
}

p {
  font-size: 20px;
  font-weight: 700;
}

a {
  font-weight: bold;
  color: gray;
}

#article-1 {
  background-color: lightgray;
}
